footer {
  background: $black;
  color: white;
  font-size: 0.75em;
  line-height: 1.4em;
  padding: 1em 0;
  a {
    text-decoration: none;
    color: $green;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  .wrapper {
    padding-top: 5em;
    padding-bottom: 2em;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  p {
    text-align: center;
    font-weight: 500;
  }

  img {
    width: 300px;
    height: auto;
  }

  @media screen and (min-width: $breakpoint) {
    .wrapper {
      flex-direction: row;
    }
  }

  .makina {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
  }

  .social {
    margin-left: 2em;
    }

  .github {
    path {
      fill: $makinaGreen;
    }
    &:hover {
      path {
        fill: white;
      }
    }
  }

 .twitter {
    path {
      fill: $black;
    }
    circle {
      fill: $makinaGreen;
    }
    &:hover {
      circle {
        fill: white;
      }
    }
  }

  .slideshare {
    circle {
      fill: $makinaGreen;
    }
    &:hover {
      circle {
        fill: white;
      }
    }
  }

}
