footer {
  background: $grey;
  color: white;
  font-size: 0.75em;
  line-height: 1.4em;
  padding: 1em 0;
  a {
    text-decoration: none;
    color: $green;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  .wrapper {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .copyright {
    flex: 1;
  }

  img {
    width: 100px;
    height: auto;
  }

  .logo-makina {
    padding-top: 1em;
  }

  @media screen and (min-width: $breakpoint) {
    .wrapper {
      flex-direction: row;
    }

    .logo-makina {
      padding-left: 4em;
    }
  }

  .makina {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
  }

  .social {
    path {
      fill: $green;
    }
    &:hover {
      path {
        fill: white;
      }
    }
  }
}
