.frameworks {
  .wrapper {
    padding-left: 1.2em;
    padding-right: 1.2em;
  }
  text-align: center;
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 1em 0 0 0;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    text-align: center;

    li {
      margin: 0;
      padding: 1em;
      list-style-type: none;
    }
  }

  h3 {
    margin: 0;
    color: $makinaGreen;
    font-family: 'Roboto Slab', serif;
    font-size: 2.3em;
    max-width: none;
    font-weight: bold;
  }

  p {
    font-size: 1.2em;
    line-height: 1.6em;
    color: $black;
    margin-top: 1.5em;
    font-weight: 400;
  }

  h4 {
    color: $black;
    font-weight: 400;
    font-size: 1em;
  }

  img {
    width: 100px;
    height: 100px;
  } 

  a {
    display: block;
    text-decoration: none;
    &:hover, &:focus {
      h4 {
        &:after {
          content: '';
          display: block;
          background: $makinaGreen;
          height: 7px;
          max-width: 100px;
          width: 100%;
          position: absolute;
          z-index: -1;
          margin-top: -18px;
          animation: dessinIn 0.5s 0s ease-in-out forwards;
        }
      }
      cursor: pointer;
      img {
        -webkit-filter: none;
        filter: none;
        opacity: 1;
      }
    }
  }

  svg {
    display: none;
  }
  
  @keyframes dessinIn {
    from {
      width: 0px;
    }
    to {
      width: 100px;
    }
  }
  @-webkit-keyframes dessinIn {
    from {
      width: 0px;
    }
    to {
      width: 100px;
    }
  }
  @-moz-keyframes dessinIn {
    from {
      width: 0px;
    }
    to {
      width: 100px;
    }
  }
  @-o-keyframes dessinIn {
    from {
      width: 0px;
    }
    to {
      width: 100px;
    }
  }
}
