header {
  background: $grey-light;
  overflow: hidden;
  position: relative;
  background-image: url("/livre-blanc-front-end/assets/img/paper.jpg");
  
  .introduction {
    font-weight: 600;
    text-align: left;
  }
  
  .explain {
    color: #241f1c;
    font-weight: 400;
    margin: 0;
  }

  canvas {
    position: absolute;
    z-index: 1;
    top: 0;
  }

  form > input, button {
    padding: 0 .8em;
    width: 100%;
  }

  .wrapper {
    position: relative;
    z-index: 2;
    padding-left: 0;
    padding-right: 0;
    flex-direction: row;
    flex-wrap: wrap;
    > div {
      padding: 0 .8em;
      width: 100%;
      &.presentation {
        margin-bottom: 2em;
      }

      @media screen and (min-width: $breakpoint) {
        width: 50%;
        &.presentation {
          display: flex;
          flex-direction: column;
          padding-right: 2em;
          margin-bottom: 1em;
        }
      }
    }
  }

  h1 {
    margin: 0;
    color: $makinaGreen;
    font-family: 'Roboto Slab', serif;
    font-size: 2.3em;
  }

  h2 {
    margin-top: 10px;
    font-size: 1.8em;
    font-weight: 600;
    color: $makinaGreen;
  }

  h3 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    font-size: 0.95em;
  }

  form {
    display: flex;
    flex-direction: column;
  }

}

.book {
  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(82,44,0,.3);
  }
}
