.pourquoi {
  background: $makinaGreen;
  position: relative;
  color: white;
  text-align: center;

  h3 {
    color: white;
    font-weight: bold;
    font-size: 2.2em;
    margin-bottom: 0px;
  }

  p {
    font-size: 1.2em;
    line-height: 1.6em;
    color: $black;
    margin-top: 1.5em;
    font-weight: 500;
  }

  > div {
    position: relative;
    z-index: 1;
  }
}
